article {
    h5 {
        color: white;
    }
    p {
        color: white;
        font-size: 12px;
        margin: 10px auto;
        width: 100%;
        font-weight: bold;

        span {
            font-size: 11px;
            font-weight: normal;
            width: 60px;
            display: inline-block;
        }
        @media (max-width: 789px) {
            font-size: 18px;

        }
    }
}
